* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;

  // changing styles in scroll bar
  &::-webkit-scrollbar-thumb {
    // background-color: rgb(0, 149, 255);
    //  background-color: #547071;
    background-color: #928850;
    border-radius: 9px;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  // background-color: #edf3fb;
  //  background-color: #1c1c1c;
  background-color: #1f104f;
}

// scroll to top styles

.scroll-to-top-button {
  visibility: hidden;
  border: none;
  font-size: 1.875em;
  color: crimson;
  background: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 4%;
  right: 2%;
  cursor: pointer;
  scroll-behavior: smooth;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scroll-to-top-button.visible {
  visibility: visible;
  z-index: 1000;
}

// generic button in dashboard

.budget-more-details {
  background-color: #7449f1;
  padding: 8px 0;
  border: none;
  border-radius: 18px;
  text-transform: capitalize;
  font-size: 1.05em;
  font-weight: 600;
  font-family: "Maven Pro", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  letter-spacing: 1px;
}

@media only screen and (max-width: 900px) {
  .scroll-to-top-button {
    bottom: 11%;
  }
}

// variables
@import "variables";
//

h1 {
  @include mainTitle;
}

h2 {
  @include subTitle;
}

p,
h3,
h4,
ul,
li,
article {
  @include normalText($size: 18px);
}

button {
  @include button;
}

// section {
//   @include flex($dir: column);
// }

.home {
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
}

.loading {
  @include flex($dir: column, $align: start);
}

.active {
  background: white;
  color: black !important;
  padding: 7px 10px;
  border-radius: 18px;
  font-weight: 600 !important;
}

.blog-link {
  @include normalText($color: yellow, $size: 17);
}

.otra-clase {
  @include normalText($size: 17px);
}

.img-container-blog {
  position: relative;
  width: 100%;
  height: 400px;
}

// imports

@import "header";
@import "../components/postCard/card";
