section {
  .card__title {
    font-size: 22px;
  }

  .img-container {
    position: relative;
    height: auto;
    // width: 250px !important;
    width: 100%;
    // margin: auto;
    img {
      color: transparent;
      width: 100% !important;
      height: 100% !important;
      // top: 0;
      //  object-fit: contain !important;
    }
  }

  .card__text {
    font-size: 15px;
  }

  button {
  }
}
